# Hide the API key file
backend/src/main/resources/application.properties

# Java build files
backend/target/

# React build files
frontend/node_modules/
frontend/dist/

# System files
.DS_Store
Thumbs.db